// main-font-stack:;
// $prime-font-stack:'Roboto', sans-serif;
// $secondary-font-stack:"Montserrat", sans-serif;
// $items-font-stack:"Kaushan Script", cursive;

$primary-fontsize: 14px;
// $main-textsize: 1rem;
// $base-linehight: 1.2;
// $primaty-fontcolor: #999999;
// $secondary-fontcolor:#333333;
$primary-black-color: #000000;
$primary-grey-color: #b9b9b9;
$primary-orange-color: #ff6b08;
// $color-for-navhover: #efc51a;
// $team-gradient-cardoverlay: linear-gradient(
//   0deg,
//   rgb(252, 227, 138) 0%,
//   rgb(243, 129, 129) 100%
// );
// $team-cardbutton-color:#fce38a;
// $team-cardbutton-bdcolor:#f9bd87;
// $footer-wrapper-bdcolor:#e6e6e6;
// $email-input-color:#e5e5e5;
// $email-placeholder-color:#cccccc;
