.sign-in {
  background-image: url(../../images/photos/background_mobile_form.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 52px 0 58px;

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin: 0 0 20px 0;
    line-height: 26px;
    font-weight: 800;
    color: $primary-white-color;
  }

  &__text {
    display: block;
    margin: 0 0 26px 0;
    font-size: 0.7857rem;
    line-height: 20px;
    font-weight: 600;
    color: $primary-white-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      border: 1px solid white;
      background: transparent;
      margin-bottom: 20px;
      width: 278px;
      height: 48px;
      font-size: 0.9286rem;
      font-weight: 600;
      line-height: 37px;
      color: white;
      text-indent: 1rem;

      &::placeholder {
        color: white;
      }

      &:last-of-type {
        margin-bottom: 54px;
      }
    }

    & button {
      border: 2px solid $primary-orange-color;
      padding: 15px 0;
      outline: none;
      text-transform: uppercase;
      width: 246px;
      height: 44px;
      font-size: 0.7857rem;
      font-weight: 700;
      color: $primary-white-color;
      background-color: $primary-orange-color;
      cursor: pointer;
      transition: opasity 0.2s linear;
    }
  }

  &--orange {
    color: $primary-orange-color;
  }
}
