.selection {
  background: url(../../images/photos/Black_rectangle.jpg.png);
  background-repeat: no-repeat;
  padding-bottom: 44px;
  background-size: 768px 408px;
  background-position-x: center;

  &__title {
    margin: 0 0 10px 0;
    color: white;
    font-size: 1.429rem;
    line-height: 30px;

    &--yellow {
      color: $primary-orange-color;
    }

    &--shift {
      display: block;
    }
  }

  &__list {
    position: relative;

    @extend %list;
    background-color: #ffffff;
    padding-top: 22px;
    padding-left: 26px;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  }

  &__item {
    position: relative;
    font-size: 0.9286rem;
    line-height: 20px;
    font-weight: 700;
    counter-increment: H;
    margin-bottom: 25px;

    &:last-child {
      padding-bottom: 32px;
    }

    &::before {
      display: block;
      content: ' \2003\2003'' \00A0'counter(H, decimal-leading-zero);
      font-size: 0.9286rem;
      line-height: 29px;
      color: $primary-orange-color;
    }
  }

  &__text::before {
    display: block;
    content: '';
    position: absolute;
    background-color: $primary-orange-color;
    left: 0;
    top: 13px;
    width: 25px;
    height: 2px;
  }
}
