.main-problems {
  background: url(../../images/photos/Black_rectangle.jpg.png);
  background-repeat: no-repeat;
  padding-top: 54px;
  background-size: 768px 650px;
  background-position-x: center;

  &__title {
    font-size: 1.429rem;
    line-height: 30px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
    color: white;
    width: 230px;

    &--yellow {
      color: $primary-orange-color;
    }

    &--shift {
      display: block;
    }
  }

  &__list {
    @extend %list;
    background-color: #ffffff;
    padding-top: 22px;
    padding-left: 26px;
    padding-bottom: 32px;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  }

  &__item {
    position: relative;
    font-size: 0.9286rem;
    line-height: 20px;
    font-weight: 700;
    counter-increment: V;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      display: block;
      content: ' \2003\2003'' \00A0'counter(V, decimal-leading-zero);
      font-size: 0.9286rem;
      line-height: 29px;
      font-weight: 500;
      color: $primary-orange-color;
    }
  }

  &__text::before {
    display: block;
    content: '';
    position: absolute;
    background-color: $primary-orange-color;
    left: 0;
    top: 13px;
    width: 25px;
    height: 2px;
  }
}

@media (min-width: 768px) {
  .main-problems {
    background-image: url(../../images/photos/BG-fire_768.png);
    background-size: 100% 334px;
    background-repeat: no-repeat;

    &__title {
      font-size: 1.857rem;
      line-height: 33px;
      width: 423px;

      &--shift {
        display: inline;
      }
    }

    &__list {
      padding: 40px 0 40px 108px;
      display: flex;
      flex-wrap: wrap;
      width: 680px;
    }

    &__item {
      width: 259px;
      min-height: 70px;
      flex-shrink: 0;
      margin: 0;

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 25px;
      }

      &--shift {
        display: block;
      }
    }
  }
}
