.title-text {
  margin: 0 0 30px 0;
  font-size: 1.429rem;
  line-height: 29px;
  font-weight: 800;

  &__paragraph {
    margin: 0 0 36px 0;
    font-size: 1.071rem;
    line-height: 20px;
    font-weight: 700;

    &--grey {
      color: $primary-grey-color;
    }

    &--orange {
      color: $primary-orange-color;
    }
  }
}

.button-garantee {
  @extend %button;
  display: block;
  margin: 0 auto 36px;
  height: 44px;
  padding: 0 12px;
  background-color: $primary-orange-color;
  font-size: 0.7857rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.main-image {
  margin: auto;
  position: relative;
  width: 215px;
  height: 185px;

  &::before {
    display: block;
    position: absolute;
    width: 215px;
    height: 171px;
    background-image: url(../../images/photos/Main_layer_2.png);
    background-repeat: no-repeat;
    content: '';
  }
}

.maina-image__foto {
  position: absolute;
  width: 182px;
  height: 185px;
  left: 22px;
}

.group-garantee__item-svg {
  position: relative;

  fill: $primary-orange-color;
  width: 30px;
  height: 30px;
}

.group-guarantee {
  @extend %list;
}

// .group-garantee__item {
//   display: flex;
//   justify-content: space-between;
// }

.group-garantee__item-svg__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 52px;
  height: 52px;
  border: 2px solid red;
  border-right: none;

  &::before,
  &::after {
    display: inline-block;
    right: 0;
    position: absolute;
    width: 2px;
    height: 15px;
    content: '';
    background: $primary-orange-color;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
