.howwe-doit {
  &__wrapper {
    padding-top: 42px;
    padding-bottom: 54px;
  }

  &__title {
    margin: 0 0 40px 0;
    font-size: 1.429rem;
    line-height: 32px;
  }

  &__cards {
    @extend %list;
  }

  &__item {
    padding: 30px 30px 0;
    min-height: 268px;
    width: 290px;
    text-align: center;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);

    &:hover {
      background-color: $primary-orange-color;
    }

    &:hover ::after {
      background-color: white;
    }
  }

  &__item-svg {
    width: 42px;
    height: 45px;
    fill: $primary-orange-color;
  }

  &__headline {
    display: block;
    margin: 0;
    font-size: 0.9286rem;
    font-weight: 700;
    line-height: 20px;

    &::after {
      display: block;
      margin: 18px auto;
      content: '';
      background-color: $primary-orange-color;
      width: 25px;
      height: 2px;
    }
  }

  &__text {
    font-size: 0.7857rem;
    font-weight: 400;
    line-height: 20px;
    color: $secondary-grey-color;
  }

  &__shift {
    display: block;
  }

  &__item:hover &__item-svg {
    fill: $primary-white-color;
  }

  &__item:hover &__headline {
    color: $primary-white-color;
  }

  &__item:hover &__text {
    color: $primary-white-color;
  }
}

@media (max-width: 768px) {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .howwe-doit {
    &__wrapper {
      padding-top: 72px;
    }

    &__title {
      margin: 0 0 40px 0;
      font-size: 1.857rem;
      line-height: 33px;
      text-align: center;
    }

    &__cards {
      width: 608px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;

      justify-content: space-between;
    }

    &__item {
      &:not(:nth-last-child(-n + 2)) {
        margin: 0;
        margin-bottom: 24px;
      }
    }
  }
}
