.site-header {
  padding-top: 26px;
  margin-bottom: 54px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    display: none;
  }
}

.humburger-button {
  @extend %button;
  display: block;
  position: relative;
  width: 24px;
  height: 12px;
  background-color: transparent;

  &_line {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 2px;
    top: 50%;
    left: 0%;
    background: $primary-black-color;
  }

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    background: $primary-black-color;
  }

  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    top: 100%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    background: $primary-black-color;
  }
}

@media (min-width: 768px) {
  .site-navigation {
    height: 50px;

    &__wrapper {
      height: 50px;
    }

    &__button {
      display: block;
      outline: none;
      border: 0;
      margin-right: 50px;
      height: 44px;
      padding: 0 12px;
      background-color: transparent;
      font-size: 0.7857rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $primary-orange-color;
      border: 2px solid $primary-orange-color;
      cursor: pointer;
    }
  }
}
