.site-header {
  background-image: url(../../images/background_image/eagle-min.jpg);
  min-height: 1000px;
  margin-bottom: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .site-header {
    background-image: url(../../images/background_image/eagle@2x-min.jpg);
  }
}
