html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  counter-reset: V, H;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
}
