html body {
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: auto;
}

.logo-mart {
  float: left;
  margin: 0;
  font-size: 2.14rem;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

.logo-mart::first-letter {
  color: #1abc9c;
}

.navigation {
  padding: 35px 0 30px;
}

.menu {
  float: right;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.menu-item {
  list-style: none;
  float: left;
  padding-right: 34px;
}

.menu-link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.menu-link:hover {
  color: #1abc9c;
}

.banner {
  position: absolute;
   display: inline-block;
  background-image: url(/module-05/images/slider/slide4.jpg);
  min-height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.slider{
  margin: auto;
  position: relative;
  height: 600px;
  
}



.slider-cntrl{
  position: absolute;
  border:none;
  width: 104px;
  height: 104px;
  opacity: 0.651;
  top:50%;
  z-index: 1;
  
}


.slider-cntrl-prev{
  background: url(/module-05/images/slider/arrow-left.jpg);
  left: 0;
  transform: translateY(-50%);
} 
  
.slider-cntrl-next{
  background: url(/module-05/images/slider/arrow-right.jpg);
  right:0;
  transform: translateY(-50%);
}

.slides{
  position: absolute;
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
 
}
