html body {
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: auto;
}

.logo-mart {
  float: left;
  margin: 0;
  font-size: 2.14rem;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

.logo-mart::first-letter {
  color: #1abc9c;
}

.navigation {
  padding-top: 35px;
  margin-bottom: 110px;
}

.menu {
  float: right;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.menu-item {
  list-style: none;
  float: left;
  padding-right: 34px;
}

.menu-link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.menu-link:hover {
  color: #1abc9c;
}


img {

  position: relative;
    width:100%;
  }

.slider {
  display: inline-block;
  position: absolute;

  
}




.slider-cntrl {
  position: absolute;
  border: none;
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: #4ec6ab;
  opacity: 0.651;
  top: 50%;
  
}

.slider-cntrl-prev{
left: 0;
}

.slider-cntrl-next{
  right: 0;
}
.slider-cntrl::after {
  display: inline-block;
  width: 22px;
  height: 38px;
  opacity: 0.651;
  content: '';
}

.slider-cntrl-prev::after{
background-image: url(/module-05/images/slider/arrow-left.png);
}

.slider-cntrl-next::after{
  background-image: url(/module-05/images/slider/arrow-right.png);
 
}


