* {
  outline: 1px solid red;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 900px;
  margin: auto;
}

.logo-mart {
  float: left;
  margin: 26px 0 0 0;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}

.logo-mart::first-letter {
  color: #1abc9c;
}

.menu {
  float: right;
  padding: 0;
  margin: 40px 0 110px 0;
}

.menu-item {
  list-style: none;
  float: left;
  margin-right: 34px;
}

.menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000; /* 2pxside */
}



  

.menu-link:hover {
  color: #1abc9c;
}




.gallery-title {
  display: block;
  text-align: center;
  font-size: 48px;
  line-height: 32px; /*line-height<font-size???*/
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  margin: 0 0 90px;
  float: none;

  /* 8px side */
}

.gallery-title::after {
  display: block;
  background-color: #1abc9c;
  margin: 30px auto 0;
  width: 164px;
  height: 7px;
  content: "";
}


.menu-featured{
  list-style: none;
  padding: 0;
  margin: 0;
}



.menu-featured-item{
height: 320px;
width: 255px;
margin: 0;
padding: 0;


}
.futured-image{
  background: #000;
  margin: auto;
  
}
.featured-text{
width:200px;
height: 40px;
float: left;
text-indent: 1rem;
line-height: 40px; 
margin: 0;


}

.featured-price{
  height: 40px;
  width: 55px;
  float: left;
  text-align: center;
  line-height: 40px; 
  margin: 0;
  

  
  
}