/* * {
  outline: 1px solid grey;
} */

html,
body {
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar {
  display: block;
  width: 900px;
  height: 200px;
  padding-top: 80px;
  list-style: none;
  margin: auto;
  padding-left: 0;
  font-size: 0;
}

/* .navbar__link{
 
  display: inline-block;
  width: 100px;
  height:100px;
  margin: 0 auto;
} */


.navbar__item{
  margin: 20px;
}
.navbar__button {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid  royalblue;
  border-radius: 50%;
  background-color: red;
  transition: all 0.5s;
}

.navbar__button_line,
.navbar__button_line::before,
.navbar__button_line::after {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -25px;
  transition: all 0.5s;
  background: black;
}

.navbar__button_line::before,
.navbar__button_line::after {
  content: "";
}

.navbar__button_line::before {
  transform: translateY(-10px);
}

.navbar__button_line:after {
  transform: translateY(+10px);
}

.navbar__button:hover .navbar__button_line {
  background: transparent;
}

.navbar__button:hover .navbar__button_line::after {
  transform: rotate(135deg);
}

.navbar__button:hover .navbar__button_line::before {
  transform: rotate(-135deg);
}

.navbar__button:hover .overlay {
  opacity: 1;
}




.navbar__button:hover .navbar__text {
  opacity: 1;
}




.navbar__button-two {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid  royalblue;
  border-radius: 50%;
  background-color: red;
  transition: all 0.5s;
}

.navbar__button-two_line,
.navbar__button-two_line::before,
.navbar__button-two_line::after {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -25px;
  transition: all 0.5s;
  background: black;
}

.navbar__button-two_line::before,
.navbar__button-two_line::after {
  content: "";
}

.navbar__button-two_line::before {
  transform: translateY(-10px);
}

.navbar__button-two_line:after {
  transform: translateY(+10px);
}



.navbar__button-two:hover .navbar__button-two_line::after {
  transform: rotate(35deg);
  transform-origin: left top;
  width:20px;
}

.navbar__button-two:hover .navbar__button-two_line::before {
  transform: rotate(-35deg);
  transform-origin: left top;
  width:20px;
}

.navbar__button-two:hover .overlay {
  opacity: 1;
}

.overlay {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* border: 1px solid  rgb(1, 4, 14); */
  border-radius: 50%;
  background-color: rgb(231, 224, 121);
  transition: all 0.5s;
  opacity: 0;
  

}



