/* * {
  outline: 1px solid red;
} */

html,
body {
  font-size: 14px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  outline: none;
  text-transform: uppercase;
  padding: 14px 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.2;
  color: white;
  cursor: pointer;
}

.site-header {
  background-image: -webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 90%) 0%,
      rgba(243, 129, 129, 90%) 100%
    ),
    -webkit-image-set(url(../images/background_image/eagle-min.jpg) 1x, url(../images/background_image/eagle@2x-min.jpg)
          2x);
  min-height: 1000px;
  margin-bottom: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-navigation {
  padding-top: 28px;
  margin-bottom: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-navigation__list {
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-navigation__link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 16.8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
}

.site-navigation__link:hover {
  color: #efc51a;
  border-color: currentColor;
}

.site-navigation__svg {
  display: block;
  fill: #fff;
  height: 16px;
  width: 18px;
  line-height: 32px;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.site-navigation__svg:hover {
  fill: #efc51a;
}

.atraction {
  text-align: center;
}

.attraction__item {
  font-family: "Kaushan Script", cursive;
  font-size: 5.143rem;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}

.attraction__name {
  padding-bottom: 110px;
  font-family: "Montserrat", sans-serif;
  font-size: 5.143rem;
  font-size: 10.71rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.button-learn {
  border: 3px solid #fff;
  background-color: transparent;
  opacity: 0.8;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button-learn:hover {
  background-color: #f38181;
  opacity: 1;
}

/* SECTION amazing-services */

.section__headline {
  padding: 0;
  margin: 0;
  text-align: center;
}

.section__intro {
  display: block;
  padding-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 1.143rem;
  line-height: 1.2;
}

.section__text {
  display: block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.143rem;
  line-height: 1.2;
}

.section__text::after {
  display: block;
  background-color: rgb(243, 129, 129);
  margin: 40px auto 0;
  width: 60px;
  height: 3px;
  content: "";
}

.section__headline_mb {
  margin-bottom: 62px;
}

.services {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
  min-height: 170px;
}

.services__item-headline {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
}

.services__item::before {
  display: inline-block;
  width: 80px;
  height: 31px;
  content: "";
  background: center center no-repeat;
}

.services__icon_clock::before {
  background-image: url(../images/icons/icons_svg/ALARM.svg);
}

.services__icon_linegraph::before {
  background-image: url(../images/icons/icons_svg/LINE_GRAPH.svg);
}
.services__icon_creativity::before {
  background-image: url(../images/icons/icons_svg/COMPUTER.svg);
}

.services__icon_seo::before {
  background-image: url(../images/icons/icons_svg/BOOK.svg);
}

.services__icon_css-html::before {
  background-image: url(../images/icons/icons_svg/HOME.svg);
}

.services__icon_digital::before {
  background-image: url(../images/icons/icons_svg/IMAGE.svg);
}

.services__item-paragraph {
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.071rem;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

/* SECTION TEAM */

.team_mb {
  margin-bottom: 85px;
}
.team__paragraph {
  margin: auto;
  text-align: center;
  width: 949px;
  min-height: 136px;
  font-family: "Roboto", sans-serif;
  font-size: 1.071rem;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__card {
  display: block;
  width: 380px;
  height: 540px;
}

.team__card-overlay {
  position: absolute;
  width: 380px;
  height: 470px;
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  opacity: 0;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  cursor: pointer;
}

.team__card:hover .team__card-overlay {
  -webkit-transform: translateX(-10px) translateY(-10px);
      -ms-transform: translateX(-10px) translateY(-10px);
          transform: translateX(-10px) translateY(-10px);
  opacity: 0.9;
}

.team__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 380px;
  height: 470px;
  background-color: rgb(149, 225, 211);
  z-index: 1;
}

.team__card-image {
  position: absolute;
  width: auto;
  height: 470px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team__card:hover .team__card-image {
  -webkit-transform: translateX(-10px) translateY(-10px);
      -ms-transform: translateX(-10px) translateY(-10px);
          transform: translateX(-10px) translateY(-10px);
}

.team__card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  z-index: 4;
}

.team__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(252, 227, 138);
  padding: 0;
  border: none;
  border-right: 1px solid rgb(249, 189, 135);
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.team__card:hover .team__card-buttons {
  opacity: 1;
}

.team__card-button:hover {
  background-color: rgb(149, 225, 211);
}

.team__card-icon {
  display: block;
  width: 26px;
  height: 22px;
  fill: #f38181;
}

.team__card-button:hover .team__card-icon {
  fill: #fff;
}

.team__card-headline {
  text-align: center;
}

.team__card-name {
  margin: 0;
  padding: 26px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #333333;
}

.team__card-occupation {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.071rem;
  line-height: 1.2;
  color: #999999;
}


/* FOOTER */

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
}

.site-info {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: rgb(51, 51, 51);
}

.site-info__word_red {
  color: #f38181;
}

.user-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: 42px;
}

.user-email input {
  padding: 0;
  border: 1px solid rgb(229, 229, 229);
  height: 40px;
  width: 300px;
}

.user-email input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: rgb(204, 204, 204);
}

.user-email input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: rgb(204, 204, 204);
}

.user-email input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: rgb(204, 204, 204);
}

.user-email input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: rgb(204, 204, 204);
}

.user-email input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: rgb(204, 204, 204);
}

.button-subscribe {
  border: none;
  background-color: rgb(149, 225, 211);
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.button-subscribe:hover {
  opacity: 1;
}